logging="true"

vrchat_user_id="usr_ ..." # may add "prompt" for this

use_api_features="false" # true/false (features like "in favorites", avi descriptions, thumbnails, etc)

vrchat_cookie_auth="authcookie_ ..." # required if use_api_features is true
vrchat_cookie_twoFactorAuth="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9. ..." # provide this value if you use 2fa

server_address="localhost" # address to listen on
server_port="9001" # target port for incoming messages

client_address="localhost" # address to send to
client_port="9000" # target port for outgoing messages