logging="true" # log OSC messages
verbose="false" # log extra details for debug

use_api_features="true" # use features that require an API token
vrchat_cookie_auth="authcookie ... " # returned by any api request
vrchat_cookie_twoFactorAuth="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9 ... " # returned by api request

vrchat_user_id="usr ... " # used to determine which game folder you're in
vrchat_address="localhost" # address of machine running vrchat (used by interface client)
vrchat_recieve_port="9000" # vrchat RX <- interface TX
vrchat_transmit_port="9001" # vrchat TX -> interface RX
interface_address="localhost" # address to bind to on this machine